In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Indian_Names.csv')

In [3]:
df.head()

   Unnamed: 0    Name
0           0   aabid
1           1  aabida
2           2  aachal
3           3  aadesh
4           4   aadil

In [ ]:
# columns to be deleted
col_to_drop = df.columns[0]
df = df.drop(columns=col_to_drop, axis = 1)

In [5]:
df.head()

     Name
0   aabid
1  aabida
2  aachal
3  aadesh
4   aadil

In [ ]:
# saving the modified DataFrame to a new CSV file
df.to_csv('names.csv', index=False)